<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta property="og:title" content="TechCCU Workshop 2016">
    <meta property="og:url" content="https://techccu.github.io/2016/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://techccu.github.io/2016/assets/img/cover_watermark.jpg">
    <meta property="og:description" content="2016 年 10 月 01 日，中正大學 工學院 EA101">
    <title>TechCCU Workshop 2016</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="./assets/css/app.css">
  </head>
  <body id="techccu-2016">
    <main>
      <div class="container-full" id="info">
        <!-- 選單列 -->
        <div class="navbar-fixed">
          <nav>
            <div class="container nav-wrapper">
              <a href="#info" class="brand-logo">TechCCU</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#speakers-separator"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> 講者</a></li>
                <li><a href="#schedule-separator"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 議程</a></li>
                <li><a href="#location-separator"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i> 地點</a></li>
                <li><a href="#staffs-separator"><i class="fa fa-users fa-fw" aria-hidden="true"></i> 工作人員</a></li>
                <li><a href="#about-us-separator"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> 關於我們</a></li>
                <li><a href="http://techccu.kktix.cc/events/techccuworkshop2016"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> 報名</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <!-- Landing Background Image -->
        <div class="parallax-container">
          <div class="parallax"><img src="./assets/img/cover_watermark.jpg"></div>
        </div>

        <!-- 主題 -->
        <div class="white-text center title-and-description">
          <h2>TechCCU Workshop 2016</h2>
        </div>

        <div class="center day-and-location">
          <!-- 報名按鈕 -->
          <a
            href="http://techccu.kktix.cc/events/techccuworkshop2016"
            class="waves-effect waves-light btn orange apply-btn"
          ><h5><i class="fa fa-check-square-o" aria-hidden="true"></i> 報名</h5></a>

          <!-- 活動時間及地點 -->
          <h5 class="white-text">2016 年 10 月 01 日<span class="hide-on-small-only">，</span><br class="hide-on-med-and-up">中正大學 工學院 EA101</h5>

          <!-- IRC 及 Slack 連結 -->
          <h5 class="white-text">
            <a
              href="https://webchat.freenode.net?channels=TechCCU"
              target="_blank"
              class="white-text tooltipped"
              data-position="top"
              data-delay="100"
              data-tooltip="freenode#TechCCU"
            >IRC</a>
            <span> / </span>
            <a href="https://techccu.slack.com" target="_blank" class="white-text">Slack</a>
          </h5>
        </div>

        <div id="speakers-separator"></div>
      </div>

      <div class="container" id="speakers">
        <div class="heading">
          <h3>講者</h3>
          <p class="flow-text">Speakers</p>
        </div>

        <div class="row">
          <div
            v-for="speaker in speakers"
            class="col s12 m4"
            :class="{
              'push-m4': ($index === speakers.length - 1) && (1 === speakersModThree),
              'push-m2': ($index >= speakers.length - 2) && (2 === speakersModThree)
            }"
          >
            <a :href="speaker.link" target="_blank">
              <div class="card-panel hoverable">
                <div class="center">
                  <img
                    :src="'./assets/img/speakers/' + speaker.avatar"
                    :alt="speaker.name"
                    width="130"
                    height="130"
                    class="circle responsive-img"
                  >
                </div>

                <div style="max-height: 7rem; height: 7rem;">
                  <h5 class="center">{{ speaker.name }}</h5>
                  <p class="black-text">{{ speaker.description }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <h3
          v-if="0 === speakers.length"
          class="center"
        >To be announced</h3>
      </div>

      <hr id="schedule-separator">

      <div class="container" id="schedule">
        <div class="heading">
          <h3>議程</h3>
          <p class="flow-text">Schedule</p>
        </div>

        <div class="row">
          <schedule-component :schedules="schedules.am" style="margin-bottom: 0;"></schedule-component>
          <schedule-component :schedules="schedules.pm"></schedule-component>
        </div>

        <h3
          v-if="0 === schedules.am.length && 0 === schedules.pm.length"
          class="center"
        >To be announced</h3>
      </div>

      <hr id="location-separator">

      <div class="container-full" id="location">
        <div class="heading">
          <h3>地點</h3>
          <p class="flow-text">Location</p>
        </div>

        <div style="background-color: #e3f2fd;">
          <div class="container" style="padding-top: 2rem;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d29257.610709160697!2d120.46159944458009!3d23.561211313461314!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x346ebe54482d7e2d%3A0xdbc72b69cefc0e42!2z5bel5a246Zmi5LiA6aSoIDYyMeWPsOeBo-WYiee-qee4o-awkembhOmEiQ!3m2!1d23.5620799!2d120.4774784!5e0!3m2!1szh-TW!2stw!4v1467271619199" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="container traffic">
            <h5><i class="fa fa-car fa-fw" aria-hidden="true"></i> 開車</h5>
            <div class="row">
              <div class="col s12 m4">
                <b>國道一號</b>
                <ol>
                  <li>由民雄交流道下</li>
                  <li>於民雄外環道(民新路)前行約 1.9km</li>
                  <li>過民雄陸橋後左轉進入台一線,前行約 600m (可以看見福懋加油站)</li>
                  <li>右轉沿大學路前行約 4km 即可到達</li>
                </ol>
              </div>

              <div class="col s12 m4">
                <b>國道三號 / <span class="grey-text">南下</span></b>
                <ol>
                  <li>由梅山交流道下</li>
                  <li>縣道 162 (經大林鎮公所)</li>
                  <li>左轉民生路</li>
                  <li>往前行駛左轉大民北路</li>
                  <li>左轉縣道 106 (大學路一段)再行駛五分鐘即可到達</li>
                </ol>
              </div>

              <div class="col s12 m4">
                <b>國道三號 / <span class="grey-text">北上</span></b>
                <ol>
                  <li>由竹崎交流道下</li>
                  <li>縣道166</li>
                  <li>民雄方向</li>
                  <li>依沿路指示牌即可到達</li>
                </ol>
              </div>
            </div>

            <h5><i class="fa fa-train fa-fw" aria-hidden="true"></i> 火車</h5>
            <p>搭乘火車至民雄站，出站後步行至民雄長壽會館轉乘嘉義縣公車。</p>

            <h5><i class="fa fa-subway fa-fw" aria-hidden="true"></i> 高鐵</h5>
            <p>由嘉義高鐵站搭乘計程車至本校，路程約 30 ~ 40 分鐘。</p>
          </div>
        </div>
      </div>

      <hr id="staffs-separator">

      <div class="container" id="staffs">
        <div class="heading">
          <h3>工作人員</h3>
          <p class="flow-text">Staffs</p>
        </div>

        <div class="row">
          <div
            v-for="staff in staffs"
            class="col s6 m4"
            :class="{
              'push-m4': ($index === staffs.length - 1) && (1 === staffsModThree),
              'push-m2': ($index >= staffs.length - 2) && (2 === staffsModThree),
              'push-s3': ($index === staffs.length - 1) && (1 === staffsModTwo)
            }"
          >
            <div class="center">
              <img
                :src="'./assets/img/staffs/' + staff.avatar"
                :alt="staff.name"
                width="64"
                height="64"
                class="circle responsive-img"
              >
            </div>

            <div class="center" style="max-height: 7rem; height: 7rem;">
              <h5>{{ staff.name }}</h5>
              <span>{{ staff.description }}</span>
            </div>
          </div>
        </div>
      </div>

      <hr id="about-us-separator">

      <div class="container" id="about-us">
        <div class="heading">
          <h3>關於我們</h3>
          <p class="flow-text">About Us</p>
        </div>

        <blockquote class="flow-text" style="white-space: pre-line; font-size: 1.25rem;"><!--
       -->這是一個由中正資工校友 @terces，與 @brucehsu 於 2014 開始的 workshop。
          由於地理位置的關係，位在嘉義的同學較不便於參加國內各大開源活動，而且也較少技術性的聚會活動。
        </blockquote>
      </div>
    </main>

    <footer class="container center">
      <hr style="margin: 2.5rem 0;">
      <p>主辦單位：TechCCU, DM+ Lab @ Dept. CSIE</p>
      <p>協辦單位：中正大學校園網路策進會</p>
      <p>© 2016 TechCCU</p>
      <p>Designed by <a href="https://github.com/BePsvPT" target="_blank">BePsvPT</a></p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script>
      new Vue({
        el: '#techccu-2016',

        data: {
          speakers: [
            /*
             {
               avatar: 'avatar.jpg',
               name: 'Speaker Name',
               description: 'Short Description',
               link: 'An external link to speaker fb, github or website'
             }
             */
             {
               avatar: 'clyang.jpg',
               name: 'clyang',
               description: '一個碰到Frontend就會死掉的Backend技術愛好者，真。米蟲一枚，跪求介紹工作。',
               link: 'https://csie.io'
             },
             {
               avatar: 'wancw.png',
               name: 'WanCW',
               description: '從 Web 寫到 App 又跳到 backend 的 coding monkey，最近為了工作開始追韓劇。',
               link: 'https://about.me/wancw'
             }
          ],

          schedules: {
            am: [
              /*
               {
                 minor: false, // 是否為主要議程
                 time: '08:40 AM',
                 speaker: 'Speaker Name',
                 topic: 'Topic',
                 slide: 'Link to the slide', // optional
                 video: 'Link to the video' // optional
               },
               */
            ],

            pm: [
            ]
          },

          staffs: [
            {
              avatar: 'terces.jpg',
              name: 'terces',
              description: 'Funding(X) Founding(O)'
            },
            {
              avatar: 'brucehsu.png',
              name: 'brucehsu',
              description: 'TechCCU Co-Founder'
            },
            {
              avatar: 'bepsvpt.jpg',
              name: 'bepsvpt',
              description: 'Website Designer'
            }
          ]
        },

        computed: {
          speakersModThree () {
            return this.speakers.length % 3
          },

          staffsModThree () {
            return this.staffs.length % 3
          },

          staffsModTwo () {
            return this.staffs.length & 1
          }
        },

        components: {
          'schedule-component': Vue.extend({
            template: `<ul class="col s12 m6">
            <li v-for="schedule in schedules" :class="{ minor: schedule.minor }">
              <time>{{ schedule.time }}</time>

              <div>
                <h6>
                  <span class="topic">{{ schedule.topic }}</span>

                  <span v-if="schedule.speaker" class="speaker"> - {{ schedule.speaker }}</span>

                  <template v-if="schedule.slide || schedule.video">
                    <br><br>

                    <a
                      v-if="schedule.slide"
                      :href="schedule.slide"
                      target="_blank"
                      style="margin-right: 0.85rem;"
                    ><i class="fa fa-slideshare fa-fw" aria-hidden="true"></i> 簡報</a>

                    <a
                      v-if="schedule.video"
                      :href="schedule.video"
                      target="_blank"
                    ><i class="fa fa-youtube-play fa-fw" aria-hidden="true"></i> 影片</a>
                  </template>
                </h6>
              </div>
            </li>
          </ul>`,

            props: {
              schedules: {
                required: true,
                type: Array
              }
            }
          })
        }
      })

      $(function () {
        $('.parallax').parallax();
      });
    </script>
  </body>
</html>
