<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta property="og:title" content="TechCCU 2016">
    <meta property="og:url" content="http://techccu.csie.io/2016/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://techccu.csie.io/2016/assets/img/ogs/large.jpg">
    <meta property="og:image" content="http://techccu.csie.io/2016/assets/img/ogs/small.jpg">
    <meta property="og:description" content="2016 年 10 月 01 日，中正大學 創新大樓 1F 銘珠講堂">
    <title>TechCCU 2016</title>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="./assets/css/app.css">
  </head>
  <body id="techccu-2016">
    <main>
      <div class="container-full" id="info">
        <!-- 選單列 -->
        <div class="navbar-fixed">
          <nav>
            <div class="container nav-wrapper">
              <a href="#info" class="brand-logo">TechCCU</a>
              <a href="#" data-activates="mobile-navbar" class="button-collapse"><i class="fa fa-bars fa-fw" aria-hidden="true"></i></a>

              <!-- Desktop 選單列 -->
              <ul class="right hide-on-med-and-down">
                <li><a href="#origin-separator"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> 緣起</a></li>
                <li><a href="#speakers-separator"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> 講者</a></li>
                <li><a href="#schedule-separator"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 議程</a></li>
                <li><a href="#location-separator"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i> 地點</a></li>
                <li><a href="#organizations-separator"><i class="fa fa-sitemap fa-fw" aria-hidden="true"></i> 合辦單位</a></li>
                <li><a href="#staffs-separator"><i class="fa fa-users fa-fw" aria-hidden="true"></i> 工作人員</a></li>
                <li><a href="http://techccu.kktix.cc/events/techccu2016"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> 報名</a></li>
              </ul>

              <!-- Mobile 選單列 -->
              <ul class="side-nav" id="mobile-navbar">
                <li><a href="http://techccu.kktix.cc/events/techccu2016"><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> 報名</a></li>
                <li><a href="#origin-separator"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i> 緣起</a></li>
                <li><a href="#speakers-separator"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> 講者</a></li>
                <li><a href="#schedule-separator"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 議程</a></li>
                <li><a href="#location-separator"><i class="fa fa-location-arrow fa-fw" aria-hidden="true"></i> 地點</a></li>
                <li><a href="#organizations-separator"><i class="fa fa-sitemap fa-fw" aria-hidden="true"></i> 合辦單位</a></li>
                <li><a href="#staffs-separator"><i class="fa fa-users fa-fw" aria-hidden="true"></i> 工作人員</a></li>
              </ul>
            </div>
          </nav>
        </div>

        <!-- Landing Background Image -->
        <div class="parallax-container">
          <div class="parallax"><img src="./assets/img/cover_watermark.jpg"></div>
        </div>

        <!-- 主題 -->
        <h2 class="white-text center title">TechCCU 2016</h2>

        <!-- Action Button -->
        <div class="center action">
          <!-- 報名按鈕 -->
          <a
            href="http://techccu.kktix.cc/events/techccu2016"
            class="waves-effect waves-light btn orange apply-btn"
          ><h5><i class="fa fa-check-square-o" aria-hidden="true"></i> 報名</h5></a>

          <!-- 活動時間及地點 -->
          <h5>2016 年 10 月 01 日<span class="hide-on-small-only">，</span><br class="hide-on-med-and-up">中正大學 創新大樓 1F 銘珠講堂</h5>

          <!-- 社群連結 -->
          <h5 class="community">
            <a
              href="https://webchat.freenode.net?channels=TechCCU"
              target="_blank"
              class="tooltipped"
              data-position="top"
              data-delay="100"
              data-tooltip="freenode#TechCCU"
            >IRC</a>
            <a href="https://techccu.slack.com" target="_blank">Slack</a>
            <a href="https://www.facebook.com/techccu" target="_blank">Facebook</a>
          </h5>
        </div>

        <div id="origin-separator"></div>
      </div>

      <div class="container" id="origin">
        <div class="heading">
          <h3>緣起</h3>
          <p class="flow-text">Origin</p>
        </div>

        <p class="center" style="white-space: pre-line; font-size: 1.35rem; line-height: 3rem;"><!--
       -->這是一個由中正資工校友 @terces，與 @brucehsu 於 2014 開始的活動。
          本活動自 2013 開始，原本只是一個定期的線上/線下讀書會，
          隨著參與的人數越多，我們決定開始主辦一年一次的大型活動。
          直到今天，我們仍持續致力連結校內外的校友與人才，來做技術與經驗分享。
        </p>
      </div>

      <hr id="speakers-separator">

      <div class="container" id="speakers" style="opacity: 0;">
        <div class="heading">
          <h3>講者</h3>
          <p class="flow-text">Speakers</p>
        </div>

        <div class="row">
          <div
            v-for="speaker in speakers"
            class="col s12 m6 l4"
            :class="{
              'col-pusher-m3': 0 === $index && 1 === speakersModTwo,
              'col-pusher-l4': 0 === $index && 1 === speakersModThree,
              'col-pusher-l2': 0 === $index && 2 === speakersModThree
            }"
          >
            <a :href="speaker.link" target="_blank">
              <div class="card-panel hoverable">
                <div class="center">
                  <img
                    :src="imgSrc(speaker.avatar, 'speakers')"
                    :alt="speaker.name"
                    width="130"
                    height="130"
                    class="circle responsive-img"
                  >
                </div>

                <div class="description">
                  <h5 class="center">{{ speaker.name }}</h5>
                  <p class="black-text">{{ speaker.description }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <h3
          v-if="0 === speakers.length"
          class="center"
        >To be announced</h3>
      </div>

      <hr id="schedule-separator">

      <div class="container-full" id="schedule">
        <div class="heading">
          <h3>議程</h3>
          <p class="flow-text">Schedule</p>
        </div>

        <div class="row">
          <schedule-component :schedules="schedules.am"  class="col s12 l5 offset-l1" style="margin-bottom: 0;"></schedule-component>
          <schedule-component :schedules="schedules.pm"  class="col s12 l5"></schedule-component>
        </div>

        <h3
          v-if="0 === schedules.am.length && 0 === schedules.pm.length"
          class="center"
        >To be announced</h3>
      </div>

      <hr id="location-separator">

      <div class="container-full" id="location">
        <div class="heading">
          <h3>地點</h3>
          <p class="flow-text">Location</p>
        </div>

        <div style="background-color: #e3f2fd;">
          <div id="map-overlay" class="container" style="padding-top: 2rem;">
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d29256.551735424327!2d120.4614645177656!3d23.565966397523678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d23.5619122!2d120.47996099999999!5e0!3m2!1szh-TW!2stw!4v1469174210440" width="100%" height="450" frameborder="0" class="scrolloff" style="border:0;" allowfullscreen></iframe>
          </div>

          <div class="container traffic">
            <h5><i class="fa fa-car fa-fw" aria-hidden="true"></i> 開車</h5>
            <div class="row">
              <div class="col s12 m4">
                <b>國道一號</b>
                <ol>
                  <li>由民雄交流道下</li>
                  <li>於民雄外環道(民新路)前行約 1.9km</li>
                  <li>過民雄陸橋後左轉進入台一線,前行約 600m (可以看見福懋加油站)</li>
                  <li>右轉沿大學路前行約 4km 即可到達</li>
                </ol>
              </div>

              <div class="col s12 m4">
                <b>國道三號 / <span class="grey-text">南下</span></b>
                <ol>
                  <li>由梅山交流道下</li>
                  <li>縣道 162 (經大林鎮公所)</li>
                  <li>左轉民生路</li>
                  <li>往前行駛左轉大民北路</li>
                  <li>左轉縣道 106 (大學路一段)再行駛五分鐘即可到達</li>
                </ol>
              </div>

              <div class="col s12 m4">
                <b>國道三號 / <span class="grey-text">北上</span></b>
                <ol>
                  <li>由竹崎交流道下</li>
                  <li>縣道166</li>
                  <li>民雄方向</li>
                  <li>依沿路指示牌即可到達</li>
                </ol>
              </div>
            </div>

            <h5><i class="fa fa-train fa-fw" aria-hidden="true"></i> 火車</h5>
            <p>搭乘火車至民雄站，出站後步行至民雄長壽會館轉乘嘉義縣公車。</p>

            <h5><i class="fa fa-subway fa-fw" aria-hidden="true"></i> 高鐵</h5>
            <p>由嘉義高鐵站搭乘計程車至本校，路程約 30 ~ 40 分鐘。</p>
          </div>
        </div>
      </div>

      <hr id="organizations-separator">

      <div class="container" id="organizations">
        <template v-for="organization in organizations">
          <div class="heading" style="margin-top: 4rem;">
            <h3>{{ organization.title }}</h3>
            <p class="flow-text">{{ organization.title_en }}</p>
          </div>

          <div class="row">
            <div
              v-for="item in $data[organization.target]"
              class="col s12 offset-l2 l8"
            >
              <a :href="item.link" target="_blank">
                <div
                  :style="item.style || {}"
                  class="card-panel hoverable"
                >
                  <div class="center">
                    <img
                      v-if="item.logo"
                      :src="imgSrc(item.logo, organization.title_en.toLowerCase())"
                      :alt="item.name"
                      class="responsive-img"
                    >

                    <h5 v-else class="white-text">{{ item.name }}</h5>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </template>
      </div>

      <hr id="staffs-separator">

      <div class="container" id="staffs">
        <div class="heading">
          <h3>工作人員</h3>
          <p class="flow-text">Staffs</p>
        </div>

        <div class="row">
          <div
            v-for="staff in staffs"
            class="col s6 m4"
            :class="{
              'col-pusher-m4': 0 === $index && 1 === staffsModThree,
              'col-pusher-m2': 0 === $index && 2 === staffsModThree,
              'col-pusher-s3': 0 === $index && 1 === staffsModTwo
            }"
          >
            <div class="center">
              <img
                :src="imgSrc(staff.avatar, 'staffs')"
                :alt="staff.name"
                width="64"
                height="64"
                class="circle"
              >
            </div>

            <div class="center" style="max-height: 7rem; height: 7rem;">
              <h5>{{ staff.name }}</h5>
              <span>{{ staff.description }}</span>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="container center">
      <hr style="margin: 2.5rem 0;">
      <p>© 2016 <a href="http://techccu.csie.io">TechCCU</a></p>
      <p>Designed by <a href="https://github.com/BePsvPT" target="_blank">BePsvPT</a></p>
      <p>Collaborator by <a href="https://www.linkedin.com/in/onemid85" target="_blank">garygong</a></p>
      <p class="history">
        <a href="http://techccu.csie.io/2015/">2015</a>
        <span> | </span>
        <a href="http://techccu.csie.io/2014/">2014</a>
      </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <script type="x-template" id="schedule-component">
      <ul>
        <li v-for="schedule in schedules" :class="{ minor: schedule.minor }" style="opacity: 0;">
          <time>{{ schedule.time }}</time>

          <div>
            <h6>
              <span v-if="schedule.speaker">{{ schedule.speaker }} - </span>

              <span>{{ schedule.topic }}</span>

              <template v-if="schedule.slide || schedule.video">
                <br><br>

                <a
                  v-if="schedule.slide"
                  :href="schedule.slide"
                  target="_blank"
                  style="margin-right: 0.85rem;"
                ><i class="fa fa-slideshare fa-fw" aria-hidden="true"></i> 簡報</a>

                <a
                  v-if="schedule.video"
                  :href="schedule.video"
                  target="_blank"
                ><i class="fa fa-youtube-play fa-fw" aria-hidden="true"></i> 影片</a>
              </template>
            </h6>
          </div>
        </li>
      </ul>
    </script>
    <script>
      new Vue({
        el: '#techccu-2016',

        data: {
          speakers: [
            /*
             {
             avatar: 'avatar.jpg',
             name: 'Speaker Name',
             description: 'Short Description',
             link: 'An external link to speaker fb, github or website'
             }
             */
            {
              avatar: 'clyang.jpg',
              name: 'clyang',
              description: '一個碰到Frontend就會死掉的Backend技術愛好者，真。米蟲一枚，跪求介紹工作。',
              link: 'https://csie.io'
            },
            {
              avatar: 'wancw.png',
              name: 'WanCW',
              description: '從 Web 寫到 App 又跳到 backend 的 coding monkey，最近為了工作開始追韓劇。',
              link: 'https://about.me/wancw'
            },
            {
              avatar: 'alwayshome.jpg',
              name: 'Alwayshome',
              description: '曾經是多媒體處理冒險者，直到我的膝蓋中了一箭。目前回到高雄工作，擔任雜事收集者，例如下午茶開團小弟或是 app 開發。',
              link: 'https://www.facebook.com/alwayshome.yu'
            },
            {
              avatar: 'tommy.png',
              name: 'Tommy Chen',
              description: '從前端墜入後端的全端工程師，熱愛鑽研新語言，目前的新歡是 Elixir。',
              link: 'https://zespia.tw'
            },
            {
              avatar: 'rayshih.jpg',
              name: 'Ray Shih',
              description: '全端工程師，興趣是學習 Haskell、Machine Learning 的技術宅。',
              link: 'https://medium.com/@rayshih771012'
            },
            {
              avatar: 'gary.png',
              name: 'garygong',
              description: '專長是平面數位設計以及 UI / UX 規劃，實際上為了掙錢而升級成全端工讀生。',
              link: 'https://www.linkedin.com/in/onemid85'
            },
            {
              avatar: 'kudo.jpg',
              name: 'Kudo Chien',
              description: '軟體工程師，興趣是 Debug。',
              link: 'https://twitter.com/kudochien'
            }
          ],

          schedules: {
            am: [
              /*
               {
                 minor: true, // 非議程類, optional
                 time: '08:40 AM',
                 speaker: 'Speaker Name', // optional
                 topic: 'Topic',
                 slide: 'Link to the slide', // optional
                 video: 'Link to the video' // optional
               },
               */
              {
                minor: true,
                time: '09:15 AM',
                topic: '報到'
              },
              {
                minor: true,
                time: '09:50 AM',
                topic: '開幕'
              },
              {
                minor: false,
                time: '10:00 AM',
                speaker: 'clyang',
                topic: '造輪子前請多想三秒 - 淺談 url masking 服務的幕後 stack'
              },
              {
                time: '10:50 AM',
                speaker: 'Alwayshome',
                topic: '從零開始的多媒體處理 -- Video2Comics'
              },
              {
                time: '11:40 AM',
                speaker: 'WanCW',
                topic: 'Minesweeping on AWS Lambda - AWS Serverless 實務經驗談'
              },
              {
                minor: true,
                time: '12:30 PM',
                topic: '午餐'
              }
            ],

            pm: [
              {
                time: '01:20 PM',
                speaker: 'garygong',
                topic: '人性與設計 -- Designing UI / UX with Psychological Approaches'
              },
              {
                time: '02:30 PM',
                speaker: 'Ray Shih',
                topic: 'Intro to Functional Programming'
              },
              {
                minor: true,
                time: '03:10 PM',
                topic: '下午茶'
              },
              {
                time: '03:30 PM',
                speaker: 'Tommy Chen',
                topic: 'Kubernetes 101'
              },
              {
                time: '04:20 PM',
                speaker: 'Kudo',
                topic: '程式設計師的自我修養'
              },
              {
                time: '05:15 PM',
                topic: 'Lightning Talk'
              },
              {
                minor: true,
                time: '05:45 PM',
                topic: '閉幕'
              }
            ]
          },

          staffs: [
            {
              avatar: 'terces.jpg',
              name: 'terces',
              description: 'Funding(X) Founding(O)'
            },
            {
              avatar: 'brucehsu.png',
              name: 'brucehsu',
              description: 'TechCCU Co-Founder'
            },
            {
              avatar: 'bepsvpt.jpg',
              name: 'bepsvpt',
              description: 'Website Designer'
            },
            {
              avatar: 'chia.jpg',
              name: 'chia',
              description: '打雜工'
            },
            {
              avatar: 'popeye.jpg',
              name: 'popeye',
              description: '妙蛙種子'
            },
            {
              avatar: 'ragi.png',
              name: 'Ragi',
              description: '燈塔看守員'
            },
            {
              avatar: 'setsal.png',
              name: 'setsal',
              description: '敬請吩咐'
            },
            {
              avatar: 'severus.jpg',
              name: 'severus',
              description: '快門專員'
            },
            {
              avatar: 'shizuku.png',
              name: 'shizuku',
              description: '援軍'
            },
            {
              avatar: 'silenttulips.png',
              name: 'silenttulips',
              description: 'Code for banana'
            },
            {
              avatar: 'xiaoba.png',
              name: 'xiaoba',
              description: '見習生'
            },
            {
              avatar: 'pinky.jpg',
              name: 'pinky',
              description: '傑尼龜'
            }
          ],

          organizations: [
            {
              title: '主辦',
              title_en: 'Organisers',
              target: 'organisers'
            },
            {
              title: '協辦',
              title_en: 'Co-organisers',
              target: 'coOrganisers'
            }
          ],

          organisers: [
            {
              logo: "techccu.svg",
              name: "TechCCU",
              link: "http://techccu.csie.io"
            },
            {
              name: "Data Management+ Laboratory",
              link: "http://dmplus.cs.ccu.edu.tw/",
              style: {
                backgroundColor: "rgba(136, 136, 136, 0.85)"
              }
            }
          ],

          coOrganisers: [
            {
              logo: "dcard.png",
              name: "Dcard",
              link: "https://www.dcard.tw"
            },
            {
              logo: "iii-ideas.png",
              name: "財團法人資訊工業策進會 創新應用服務研究所",
              link: "http://www.ideas.iii.org.tw"
            },
            {
              logo: "slt.jpg",
              name: "國立中正大學 智慧生活產學技術聯盟",
              link: "http://slt.cs.ccu.edu.tw"
            },
            {
              name: "國立中正大學工學院",
              link: "http://coe.ccu.edu.tw",
              style: {
                backgroundColor: "rgba(136, 136, 136, 0.85)"
              }
            },
            {
              name: "國立中正大學資訊工程學系暨研究所",
              link: "https://www.cs.ccu.edu.tw",
              style: {
                backgroundColor: "rgba(136, 136, 136, 0.85)"
              }
            },
            {
              name: "國立中正大學校園網路策進會",
              link: "https://www.cna.ccu.edu.tw",
              style: {
                backgroundColor: "rgba(136, 136, 136, 0.85)"
              }
            }
          ]
        },

        computed: {
          speakersModThree () {
            return this.speakers.length % 3
          },

          speakersModTwo () {
            return this.speakers.length & 1
          },

          staffsModThree () {
            return this.staffs.length % 3
          },

          staffsModTwo () {
            return this.staffs.length & 1
          }
        },

        methods: {
          imgSrc (filename, category) {
            return `./assets/img/${category}/${filename}`
          }
        },

        components: {
          'schedule-component': Vue.extend({
            template: '#schedule-component',

            props: {
              schedules: {
                required: true,
                type: Array
              }
            }
          })
        }
      })

      $(function () {
        $('.parallax').parallax();

        $('.button-collapse').sideNav();

        $(document).on('click', '#mobile-navbar a', function () {
          $('#sidenav-overlay').click();
        });

        $(document).on('mousedown touchend', '#map-overlay', function () {
          $('#map').removeClass('scrolloff')
        });

        $(document).on('mouseleave', '#map-overlay', function () {
          $('#map').addClass('scrolloff')
        })

        Materialize.scrollFire([
          { selector: '#speakers', offset: 150, callback: function () { Materialize.fadeInImage('#speakers'); } },
          { selector: '#schedule', offset: 250, callback: function () { Materialize.showStaggeredList('#schedule'); } }
        ]);
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-81201323-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
